
@{
    ViewBag.Title = "Start";
    //Layout = "~/Views/Shared/_LayoutForAdmin.cshtml";
}


<div class="jumbotron">
    <h1>Role ManageMent</h1>
    <p class="lead">Welcome To Role Management</p>
    <p><a href="@Url.Action("Index", "Home")" class="btn btn-primary btn-lg">Back To Home</a></p>
</div>
