@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-image:url('../../Images/banner3.jpg'); color:white;" >
    <h1>Max E-Library</h1>
    <p class="lead">Generate Lorem Ipsum placeholder text for use in your graphic, print and web layouts, and discover plugins for your favorite writing, design and blogging tools.</p>
    
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



<div class="row" style="margin:2rem 1rem;text-align:center; justify-content:center; ">
    <div class="col-md-4">
        <h2 style="font-weight:bold ;text-transform:uppercase;">Our Services</h2>
        <p style="font-weight:500">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet massa nisi, nec mollis dolor eleifend vel. Nulla accumsan nulla quis ultrices feugiat. Fusce nec enim eu risus condimentum iaculis vel vitae sapien. Suspendisse a neque consectetur, tristique nunc non, blandit libero. Maecenas congue, enim vel sollicitudin consequat, purus lacus venenatis dolor, nec vulputate purus nisl auctor lorem. Donec id libero elementum enim porttitor ullamcorper id nec lacus. Integer facilisis sapien in erat consectetur molestie. Fusce arcu velit, ornare vel orci eu, blandit dapibus nibh. Nunc placerat dolor id risus commodo congue. Suspendisse potenti. Morbi pharetra euismod dapibus.
        </p>
        <p style="margin-top:3rem"><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-weight:bold; text-transform:uppercase;">Get Books</h2>
        <p style="font-weight:500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet massa nisi, nec mollis dolor eleifend vel. Nulla accumsan nulla quis ultrices feugiat. Fusce nec enim eu risus condimentum iaculis vel vitae sapien. Suspendisse a neque consectetur, tristique nunc non, blandit libero. Maecenas congue, enim vel sollicitudin consequat, purus lacus venenatis dolor, nec vulputate purus nisl auctor lorem. Donec id libero elementum enim porttitor ullamcorper id nec lacus. Integer facilisis sapien in erat consectetur molestie. Fusce arcu velit, ornare vel orci eu, blandit dapibus nibh. Nunc placerat dolor id risus commodo congue. Suspendisse potenti. Morbi pharetra euismod dapibus.</p>
        <p style="margin-top:3rem"><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-weight:bold; text-transform:uppercase;">Contact Us</h2>
        <p style="font-weight:500">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet massa nisi, nec mollis dolor eleifend vel. Nulla accumsan nulla quis ultrices feugiat. Fusce nec enim eu risus condimentum iaculis vel vitae sapien. Suspendisse a neque consectetur, tristique nunc non, blandit libero. Maecenas congue, enim vel sollicitudin consequat, purus lacus venenatis dolor, nec vulputate purus nisl auctor lorem. Donec id libero elementum enim porttitor ullamcorper id nec lacus. Integer facilisis sapien in erat consectetur molestie. Fusce arcu velit, ornare vel orci eu, blandit dapibus nibh. Nunc placerat dolor id risus commodo congue. Suspendisse potenti. Morbi pharetra euismod dapibus.</p>
        <p style="margin-top:3rem"><a class="btn btn-info" href="#">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row text-center" style="margin-top:1.5rem;">
    <h1 style="font-weight:bold; text-transform:uppercase;">Motive Of Our Online Library</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet massa nisi, nec mollis dolor eleifend vel. Nulla accumsan nulla quis ultrices feugiat. Fusce nec enim eu risus condimentum iaculis vel vitae sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet massa nisi, nec mollis dolor eleifend vel. Nulla accumsan nulla quis ultrices feugiat. Fusce nec enim eu risus condimentum iaculis vel vitae sapien. Suspendisse a neque consectetur, tristique nunc non, blandit libero. Maecenas congue, enim vel sollicitudin consequat, purus lacus venenatis dolor, nec vulputate purus nisl auctor lorem. Donec id libero elementum enim porttitor ullamcorper id nec lacus. Integer facilisis sapien in erat consectetur molestie. Fusce arcu velit, ornare vel orci eu, blandit dapibus nibh. Nunc placerat dolor id risus commodo congue. Suspendisse potenti. Morbi pharetra euismod dapibus.</p>

    <div style="margin:3rem;">
        <a class="btn btn-warning" href="#">Show More</a>
        <a class="btn btn-success" href="@Url.Action("Create", "Customer")">Register Here</a>
    </div>
    
</div>

<div class="row">

</div>